DATABASE_URL = Your database your

PORT = 5000
APP_URL = "http://localhost:5000"
BCRYPT_SALT_ROUNDS = your salt
JWT_ACCESS_TOKEN = your access token
JWT_REFRESH_TOKEN =  your refresh token

JWT_ACCESS_EXPIRES_IN = your expire
JWT_PREFRESH_EXPIRES_IN = your expire